/* ==================================================================== 
                                 Desktop View
======================================================================= */
@media (min-width: 769px) {  
    
    /* ================================= 
        Navigation & Footer Elements
    ==================================== */
      /****** Nav ******/
      .desktop-nav {
        margin: 0 auto;
        max-width: 1900px;
        width: 100%;
        font-family: 'Lato', sans-serif;
        display: block;
        background-color: #fff;
        box-shadow: 0 3px 5px -2px rgba(0,0,0,0.2);
        z-index: 100;
      }
      .shadow-conatiner{
          border-bottom-color: #666;
      }
    
      /* hide mobile nav on desktop */
      .container-1 {
        display: none;
      }
      .container-2 {
        display: none;
      }
    
      .nav-item {
        display: inline-block;
        margin: 20px;
        font-family: 'Lato', sans-serif;
        text-align: center;
      }
    
      #nav-right{
        float: right;
      }
    
      .desktop-nav a:first-child {
        font-size: 14px;
        letter-spacing: 0.2em;
        color: #666
      }
      .desktop-nav a:first-child:hover {
        -webkit-text-stroke: .5px #F27D2F;
        color: #F27D2F;
        text-decoration: none;
      }
    
      /****** Log In Button ******/
      .login_btn {
        font-size: 14px;
        padding: 8px 17px 8px 18px;
      }
    
      /****** Sign Up Button ******/
      .signup_btn {
        font-size: 14px;
        padding: 8px 17px 8px 18px;
      }
      .signup_btn:hover {
        background: #F1690E;
        border-color: #F1690E;
        text-decoration: none;
      }
      
    
    /* ================================= 
          Page Content
    ==================================== */
      .page-content{
        margin-top: inherit;
      }
    
    
    /* ================================= 
          Home Page
    ==================================== */
      /****** Header ******/
      
      /* hide mobile header */
      .main-header-mobile{
        display: none;
      }
      .main-header-desktop{
        text-align: center;
        padding: 30vh;
        background-size: cover;
        display: block;
      }
      .main-header-desktop h1{
        font-family: 'Lato Black', sans-serif;
        font-size: 70px;
        color: #fff;
        letter-spacing: .15em;
      }
       /****** Video Background ******/
       .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        max-width: 1900px;
        overflow: hidden;
        z-index: -100;
      }
      .fullscreen-bg__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
      }
    
      /****** Half Image Section ******/
      .imageHalf {
        background: #0619C0;
        width: 100%;
        display: flex;
        height: 600px;
        align-items: center;
      }
      .mission-content {
        font-size: 1.2em;
        width: 60%;
      }
      #rightHalf {
        background: url("../img/hp-img.jpg") center no-repeat;
        background-size: cover;
        width: 40%;
        height: 100%;
        display: initial;
      }
    
    
    /* ================================= 
          Gallery
    ==================================== */
    
    .medium-nav {
        min-height: 500px; 
    }
    .medium-nav a:hover{
        color: #0619C0;
        transition: 0.2s all ease;
        letter-spacing: .2em;
    }
    .medium-nav a.selected{
        color: #0619C0;
        letter-spacing: .2em;
    }
    #mediumDesktop{
        display: block;
    }
    #mediumMobile {
        display: none;
    }

    .card-columns{
        column-count: 3;
        column-gap: 1.75rem;
    }

    .card-columns .card {
        position: relative;
    }

    .card-body{
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background: rgba(18, 31, 104, .8);
        color: #fff;
        border-bottom-left-radius: calc(.25rem - 1px);
        border-bottom-right-radius: calc(.25rem - 1px);
    }

    .thumb-description-container button{
        font-size: 12px;
    }

    .thumb-description-container button:hover{
        color: #fff;
        background-color: rgba(0,0,0,0);
        border-color: #fff;
    }

    .icon-fav{
        width: 30px;
        top: -13px; 
        right: -13px;
    }

    .card-img-top {
        border-radius: calc(.25rem - 1px);
    }
    
    
}